<h1>Log In Below:</h1>

<form method="POST" action="/sessions">
  E-Mail: <input type="text" name="email">
  Password: <input type="text" name="password">
  <button type="submit" value="submit">Log In</button>
</form>
